@charset "UTF-8";
/*!公共样式*/
/*!内容区*/
.pc-index-module {
  width: 1100px;
  margin: 0 auto !important;
}

.navitm-cats {
  overflow: visible !important;
}

/*头部*/
/*!头部*/
.topNavWrap,
.docHeadWrap,
#topTab {
  width: 1090px;
  margin: 0 auto;
}

.topAd {
  height: 80px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.topAd a {
  position: absolute;
  left: 50%;
  top: 0;
}
.topAd img {
  position: relative;
  left: -50%;
  top: 0;
}

#topNav {
  position: relative;
  background: #000;
  border-bottom: 1px solid #ededee;
  color: #999;
}
#topNav .topNavWrap {
  position: relative;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}

.topNavLeft {
  float: left;
}
.topNavLeft .login {
  margin-left: 16px;
}
.topNavLeft .sep {
  padding: 0 10px;
}

.topNavLeft2 {
  float: left;
  padding-left: 30px;
}
.topNavLeft2 a {
  position: relative;
}
.topNavLeft2 a .imgAntxr {
  position: absolute;
  background: #fff;
  left: -36px;
  top: 30px;
  padding: 5px 5px 0;
  border: 1px solid #e4e4e4;
  display: none;
  z-index: 10000;
}
.topNavLeft2 a .imgAntxr img {
  width: 116px;
  height: 116px;
}
.topNavLeft2:hover .imgAntxr {
  display: block;
}

.topNavRight {
  float: right;
}
.topNavRight li {
  float: left;
}
.topNavRight li .toplevel {
  padding: 0 14px 0 8px;
}
.topNavRight li:nth-child(3) .mcDropMenu a:nth-child(4) {
  border-bottom: 1px solid #e8e8ea;
}
.topNavRight li:nth-child(3) .mcDropMenu a:nth-child(7) {
  border-bottom: 1px solid #e8e8ea;
}
.topNavRight li:nth-child(3) .mcDropMenu a:nth-child(9) {
  border-bottom: 1px solid #e8e8ea;
}
.topNavRight li:nth-last-child(2) .mcDropMenu a:nth-child(1) {
  border-bottom: 1px solid #e8e8ea;
}

.mcDropMenuBox {
  position: relative;
  z-index: 202;
  border: 1px solid transparent;
  left: -3px;
  top: -1px;
}
.mcDropMenuBox .topNavHolder {
  position: relative;
  zoom: 1;
  padding: 0 24px 0 16px !important;
}
.mcDropMenuBox .mcDropMenu {
  position: absolute;
  left: -1px;
  top: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  padding: 4px 15px 12px 14px;
  display: none;
}
.mcDropMenuBox .mcDropMenu a {
  display: block;
  word-wrap: normal;
  white-space: nowrap;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
}
.mcDropMenuBox:hover {
  background: #fff;
}
.mcDropMenuBox:hover .mcDropMenu {
  display: block;
  background-color: #fff;
  border: 1px solid #e8e8ea;
  border-top: 0;
}
.mcDropMenuBox:hover a:hover {
  color: #ff1e32;
}

/*搜索框*/
#search {
  background: #fff;
}

#docHead {
  background: #fff;
  z-index: 103;
}
#docHead .docHeadWrap {
  position: relative;
  height: 100px;
}
#docHead .logo_kaola_new {
  position: absolute;
  left: 0;
  top: 20px;
  width: 330px;
  height: 65px;
  line-height: 65px;
  outline: none;
  cursor: pointer;
  z-index: 9;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: auto 65px;
  background-image: url(../image/index/logo.png);
}
#docHead #searchiptbox {
  position: absolute;
  left: 343px;
  top: 33px;
  z-index: 73;
}
#docHead #topsearch {
  width: 510px;
  height: 40px;
  padding-left: 1px;
  background-color: #ff2337;
  border-radius: 40px;
}
#docHead #topsearch .wrap {
  float: left;
  margin: 2px 1px;
  padding: 6px 39px 6px 30px;
  background-color: #fff;
  border-radius: 24px 0 0 24px;
}
#docHead #topsearch .wrap input {
  text-align: left;
}
#docHead #topsearch #topSearchInput {
  width: 410px;
  height: 24px;
  line-height: 24px;
  border: 0;
  font-size: 13px;
  font-style: italic;
}
#docHead #topsearch .topsearchboxBackGround {
  width: 60px;
  height: 40px;
  background: #ff2337;
  background-image: linear-gradient(270deg, #ff2e64, #ff0003);
  border-radius: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
#docHead #topsearch .topsearchboxBackGround #topSearchBtn {
  display: inline-block;
  height: 40px;
  width: 50px;
  font-size: 19px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  background: url(../image/index/topSearc.png) no-repeat 50%;
  background-size: 41%;
}
#docHead #topsearch .topsearchboxBackGround:hover {
  background: #ff2d59;
  background-image: linear-gradient(270deg, #f85a7d, #ff3234);
}
#docHead #topsearch .w-icon-26 {
  position: absolute;
  left: 10px;
  top: 13px;
}
#docHead #search_list {
  line-height: 22px;
  margin-top: 2px;
  width: 461px;
  height: 22px;
  overflow: hidden;
}

.shopcartnew {
  display: block;
  position: absolute;
  right: 76px;
  top: 33px;
  width: 106px;
  height: 36px;
  background-color: #fff;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  border: 2px solid #ff1e32;
  color: #333;
}
.shopcartnew:hover {
  color: #ff1e32;
  background-color: #fff4f5;
}
.shopcartnew .shop-cart-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-bottom: -5px;
  background: url(../image/index/shopcall.png) no-repeat;
  background-size: 100%;
}

/*二级菜单*/
#topTabBox {
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 102;
}
#topTabBox #funcTab,
#topTabBox #topTab {
  position: relative;
  height: 40px;
}
#topTabBox #topTab {
  zoom: 1;
  line-height: 40px;
  z-index: 102;
  position: relative;
  height: 40px;
}
#topTabBox .navitm-cats {
  float: left;
  height: 40px;
  width: 164px;
  background: red;
  background: -webkit-linear-gradient(90deg, red, #ff3264);
  background: linear-gradient(90deg, red, #ff3264);
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-left: 0;
  overflow: hidden;
  /*其他页面隐藏*/
}
#topTabBox .navitm-cats:hover {
  overflow: visible;
}
#topTabBox .toplevel {
  display: inline-block;
  height: 40px;
  width: 164px;
  line-height: 40px;
  text-align: left;
  border-bottom: 1px solid #ff5160;
}
#topTabBox .lineicon {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin: 0 24px 0 15px;
  overflow: hidden;
}
#topTabBox .lineicon i {
  display: block;
  width: 15px;
  height: 0px;
  border-top: 2px solid #fff;
  margin-bottom: 3px;
}
#topTabBox .catitmlst {
  background: linear-gradient(to right, #f00, #ff3264);
  padding: 0 2px 0 1px;
}
#topTabBox .catli {
  padding-left: 10px;
  width: 148px;
  cursor: pointer;
  text-align: left;
  padding-right: 3px;
}
#topTabBox .catli .iocn {
  width: 20px;
  height: 20px;
  padding: 0 20px 0 4px;
  vertical-align: middle;
}
#topTabBox .catli .iocn2 {
  display: none;
}
#topTabBox .catli span {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
}
#topTabBox .catli i {
  display: inline-block;
  vertical-align: middle;
  color: #ff96ad;
  font-size: 19px;
  width: 16px;
}
#topTabBox .catli .seg {
  display: block;
  position: relative;
  bottom: 2px;
  left: -7px;
  width: 154px;
  height: 1px;
  background: #ff5160;
}
#topTabBox .catli:hover {
  background-color: #fff;
}
#topTabBox .catli:hover span {
  color: #ff1e32;
}
#topTabBox .catli:hover .iocn {
  display: none;
}
#topTabBox .catli:hover .iocn2 {
  display: inline-block;
}
#topTabBox .catli:hover .seg {
  background: #fff;
}
#topTabBox .catli:hover #m-ctgcard {
  display: block;
}
#topTabBox #m-ctgcard {
  transition: height .4s;
  position: absolute;
  z-index: 75;
  top: 40px;
  left: 164px;
  width: 930px;
  overflow: hidden;
  max-height: 459px;
  height: 459px;
  background: #fff;
  border: 1px solid #ff1a33;
  border-left-width: 0;
  text-align: left;
  color: #333;
  cursor: auto;
  display: none;
}
#topTabBox .m-ctglist {
  margin: 0 20px 20px 15px;
  width: 658px;
  max-height: 440px;
  overflow: hidden;
}
#topTabBox .m-ctgtbl {
  width: 100%;
  font-size: 0;
}
#topTabBox .m-ctgtbl .f_cb {
  height: auto;
}
#topTabBox .m-ctgtbl .litd {
  float: left;
  width: 50%;
  vertical-align: top;
  position: relative;
}
#topTabBox .m-ctgtbl .item {
  display: inline-block;
  padding: 0;
  margin: 0 25px 17px 5px;
  vertical-align: top;
  width: 275px;
  height: auto;
  line-height: normal;
  overflow: hidden;
}
#topTabBox .m-ctgtbl .title {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 700;
}
#topTabBox .m-ctgtbl .title .cat2 {
  display: inline;
  color: #333;
  text-align: left;
}
#topTabBox .m-ctgtbl .ctgnamebox {
  margin-left: -8px;
  font-size: 0;
}
#topTabBox .m-ctgtbl .ctgnamebox a {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 10px;
  margin-top: 19px;
  font-size: 13px;
  color: #666;
}
#topTabBox .m-ctgtbl .ctgnamebox a:hover {
  text-decoration: underline;
  background: #fff;
}
#topTabBox .m-ctgtbl .ctgnamebox .f-fcred3 {
  color: #ff1e32;
}
#topTabBox .m-brandbox {
  height: 322px;
  overflow: hidden;
  width: 218px;
  padding: 9px 8px 0 11px;
  background: #f6f6f6;
}
#topTabBox .m-brandbox a {
  float: left;
  height: 108px;
  padding: 0;
}
#topTabBox .m-brandbox a img {
  display: inline-block;
  width: 104px;
  height: 104px;
  border: 1px solid #eaeaea;
  margin: 0 3px 2px 0;
}
#topTabBox .imgbox {
  width: 237px;
  box-sizing: border-box;
  padding: 20px 18px 20px 11px;
  background: #f6f6f6;
}
#topTabBox .imgbox img {
  width: 215px;
  height: 88px;
}
#topTabBox .underTitleMiddleLine {
  height: 1px;
  width: 642px;
  background: #eaeaea;
  position: absolute;
  top: 34px;
  z-index: 100;
}
#topTabBox #funcTab {
  z-index: 72;
  float: left;
  padding-left: 25px;
}
#topTabBox #funcTab li {
  float: left;
  height: 40px;
  overflow: hidden;
  padding: 0 20px;
}
#topTabBox #funcTab li a {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}
#topTabBox #funcTab li:first-child a {
  color: #ff1e32;
}
#topTabBox #funcTab a:hover {
  color: #ff1e32;
}

/*!底部*/
.footer {
  margin-top: 80px;
  height: 464px;
  width: 100%;
}
.footer img {
  height: 100%;
  width: 100%;
}

.topBgWrapPos {
  position: relative;
  z-index: 10;
  background: #f6f6f6;
}

.topBgWrap {
  position: relative;
  zoom: 1;
  background: #f3f3f3;
  min-height: 505px;
}
.topBgWrap .imgBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.topBgWrap .sliderBox {
  position: relative;
  height: 400px;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topBgWrap .sliderBox2 {
  height: 505px;
}
.topBgWrap .sliderBox2:hover .cons {
  display: block;
}
.topBgWrap #show_pic {
  position: absolute;
  top: 0;
  left: 50%;
  height: 400px;
  margin-left: -960px;
}
.topBgWrap #show_pic li {
  position: absolute;
}
.topBgWrap #show_pic li img {
  opacity: 0;
}
.topBgWrap #show_pic li:first-child img {
  opacity: 1;
}
.topBgWrap ol {
  position: absolute;
  left: 340px;
  bottom: 85px;
}
.topBgWrap ol li {
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.topBgWrap ol li:first-child {
  background-color: #ff1e32;
}
.topBgWrap .control {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}
.topBgWrap .control div {
  position: relative;
  zoom: 1;
  width: 1090px;
  margin: 0 auto;
}
.topBgWrap .control div span {
  position: absolute;
  top: 0;
  margin: -34px 0 0;
  width: 34px;
  height: 68px;
  background: url(../image/index/all.png) no-repeat;
}
.topBgWrap .control .cons {
  display: none;
}
.topBgWrap .control .prev {
  left: 169px;
  background-position: -625px -68px;
}
.topBgWrap .control .prev:hover {
  background-position: -625px -153px;
}
.topBgWrap .control .next {
  right: 0;
  background-position: -670px -67px;
}
.topBgWrap .control .next:hover {
  background-position: -670px -153px;
}

.m-sellpoint {
  position: relative;
  z-index: 12;
  margin-top: -45px;
  margin-bottom: 20px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
}
.m-sellpoint .m-contentwrap {
  margin: 0 auto;
  width: 1090px;
}
.m-sellpoint .m-contentwrap a:hover {
  text-decoration: underline;
}
.m-sellpoint .sellpoint {
  float: left;
  height: 44px;
  line-height: 44px;
  font-size: 12px;
  color: #fff;
}
.m-sellpoint .sellpoint .itm {
  float: left;
  margin-right: 40px;
  color: #fff;
  text-decoration: none;
}
.m-sellpoint .download {
  float: right;
  color: #fff;
  line-height: 44px;
}
.m-sellpoint .download .phone {
  margin-right: 5px;
  font-size: 15px;
  vertical-align: -2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  background: url(../image/index/download_phone.png) no-repeat 50%;
}
.m-sellpoint .download a {
  color: #fff;
}

/*内容部分*/
.m-zoneimage .item {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 308px;
}
.m-zoneimage .item .imgwrap {
  width: 1349px;
  margin-left: -674.5px;
  background-size: 1920px 308px;
  background-image: url(../image/index/xinren.png);
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  background-position: center 0;
}
.m-zoneimage .item .hotarea {
  top: 0%;
  left: 0%;
  width: 99.82%;
  height: 100%;
  position: absolute;
}

/*!户外运动*/
.w-title-line .tit {
  float: left;
  margin-right: 20px;
}
.w-title-line .big {
  font-size: 22px;
  color: #333;
  font-weight: 700;
}
.w-title-line .w-taglist {
  position: relative;
  top: 3px;
  color: #999;
  font-size: 14px;
}
.w-title-line .w-taglist li {
  float: left;
  margin-right: 14px;
}
.w-title-line .w-taglist li .colors {
  color: #fe060c;
}
.w-title-line .w-taglist li a {
  color: #666666;
}
.w-title-line .w-taglist li a:hover {
  text-decoration: underline;
}
.w-title-line .u-btn-more {
  position: absolute;
  right: 0;
  top: 24px;
  font-size: 14px;
  color: #999;
}
.w-title-line a:hover {
  text-decoration: underline;
}

.cont {
  background: #fff;
  border-left: 0;
}
.cont .partl {
  float: left;
  position: relative;
  height: 541px;
}
.cont .partl img {
  background: url(../image/index/partl_xie.jpg) no-repeat 50% #fff;
}
.cont .partl .secondlist {
  position: absolute;
  left: 24px;
  bottom: 24px;
}
.cont .partl .secondlist li {
  float: left;
  margin: 0px 18px 8px 0;
  width: 82px;
  height: 42px;
}
.cont .partl .secondlist li a {
  display: block;
  height: 18px;
  padding: 11px 0;
  overflow: hidden;
  font-size: 12px;
  color: 12px;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #eee;
  color: #333;
  width: 80px;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.cont .partl .secondlist li a:hover {
  color: #ff1e32;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.7);
}
.cont .partm {
  width: 550px;
  border: 1px solid #e9e9e9;
  border-width: 1px 0;
  float: left;
  position: relative;
}
.cont .partm .itm1 {
  float: left;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-width: 0 1px 1px 0;
  width: 274px;
  height: 269px;
}
.cont .partm .itm1 a {
  display: block;
  padding: 30px 0 0;
  width: 274px;
  height: 200px;
  color: #333;
}
.cont .partm .itm1 .tit {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 10px 0;
}
.cont .partm .itm1 .desc {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 10px 14px;
}
.cont .partm .itm1 .tit,
.cont .partm .itm1 desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cont .partm li:nth-child(2) ~ li {
  border-bottom: 0;
}
.cont .party {
  float: left;
  position: relative;
  width: 219px;
  border: 1px solid #e9e9e9;
  border-width: 0 1px 1px 0;
}
.cont .party .title {
  font-size: 16px;
  line-height: 58px;
  padding: 0 0 0 10px;
  color: #333;
  font-weight: 700;
  height: 58px;
  border: 1px solid #e9e9e9;
  border-left-width: 0;
  position: relative;
}
.cont .party .img_pagebox {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 9px;
}
.cont .party .img_pagebox li {
  float: left;
  margin: 0 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  background: #e1e1e1;
}
.cont .party .img_pagebox li:hover {
  background: #333;
}
.cont .prolist {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}
.cont .prolist .itemgroup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.cont .itemsale {
  padding: 27px 14px 0;
  height: 92px;
  border-bottom: 1px dotted #e9e9e9;
}
.cont .pic {
  position: relative;
  float: left;
  margin: 0 7px 0 4px;
  zoom: 1;
}
.cont .tit {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  font-size: 12px;
}
.cont .curprice {
  margin-top: 6px;
  font-size: 18px;
  color: #ff1e32;
}
.cont .curprice strong {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  left: -8px;
}
.cont .curprice .item2 {
  color: #999;
  margin: 0 0 0 -5px;
  font-size: 14px;
  text-decoration: line-through;
}

.w-logolist {
  margin: 20px 0 40px;
  line-height: 167px;
  border: 1px solid #e9e9e9;
  background: #fff;
}
.w-logolist .tit {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 700;
  text-indent: 20px;
  color: #000;
  border-bottom: 1px solid #eaeaea;
}
.w-logolist .brandListContainer {
  margin-right: -1px;
  width: 1111px;
}
.w-logolist .pic {
  position: relative;
  float: left;
  width: 219px;
  height: 167px;
  text-align: center;
  border-left: 1px solid #e9e9e9;
}
.w-logolist .pic img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.w-logolist .pic:hover .follow {
  display: inline-block;
}
.w-logolist .pic:first-child {
  border-left: 0;
}
.w-logolist .follow {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-image: url(../image/index/xin2.png);
  display: none;
}
.w-logolist .toast {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -38px;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #000;
  filter: alpha(opacity=0);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  display: node;
}

/*!热门品牌*/
.m-popbrands .big {
  margin-right: 10px;
}
.m-popbrands .change {
  position: absolute;
  top: 26px;
  right: 4px;
  font-size: 14px;
  color: #999;
}
.m-popbrands .change img {
  width: 12px;
  height: 12px;
}
.m-popbrands .change:hover img {
  transform: rotate(360deg);
  transition: 1s;
}
.m-popbrands .cnt {
  height: 355px;
  overflow: hidden;
}
.m-popbrands .fixedBrandWrap {
  position: relative;
  float: left;
  margin-right: -220px;
  width: 219px;
  overflow: hidden;
  border-right: 1px solid #e9e9e9;
}
.m-popbrands .fixedBrand {
  position: relative;
  width: 219px;
  height: 355px;
}
.m-popbrands .fixedBrand .itm {
  position: absolute;
  top: 0;
  left: 0;
  width: 219px;
  height: 100%;
  text-align: center;
}
.m-popbrands .fixedBrand .itm img {
  width: 219px;
  height: 219px;
}
.m-popbrands .fixedBrand .itm .txt {
  position: relative;
  height: 136px;
  background-color: #151515;
  color: #fff;
  z-index: 12;
  opacity: .8;
}
.m-popbrands .fixedBrand .itm .name {
  padding-top: 41px;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  margin: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-popbrands .fixedBrand .itm .desc {
  font-size: 12px;
  margin: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-popbrands .line {
  position: absolute;
  top: 219px;
  left: 0;
  width: 222px;
  height: 2px;
  z-index: 10;
}
.m-popbrands .line .step {
  float: left;
  margin-right: 2px;
  width: 72px;
  height: 3px;
  background-color: #555;
}
.m-popbrands .recomBrand {
  float: left;
  margin: 0 -1px 0 220px;
  border-top: 1px solid #e9e9e9;
}
.m-popbrands .recomBrand .itm {
  position: relative;
  float: left;
  width: 219px;
  height: 176px;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
}
.m-popbrands .recomBrand .info {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
.m-popbrands .recomBrand .info img {
  position: relative;
  top: 0;
  margin: 12px auto 0;
  display: block;
  width: 120px;
  height: 120px;
  transition: top .3s ease, transform .3s ease;
  transform: scale(1);
}
.m-popbrands .recomBrand .info .desc {
  margin: 10px -90px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  transition: opacity .2s ease .08s;
}
.m-popbrands .recomBrand .actions {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s ease;
}
.m-popbrands .recomBrand .follow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 52px;
  height: 20px;
  line-height: 20px;
  color: #999;
  border: 1px solid #999;
  border-radius: 20px;
}
.m-popbrands .recomBrand .follow:hover {
  background-color: #f5f5f5;
}
.m-popbrands .recomBrand .followers {
  margin: 99px 0 8px;
  color: #999;
}
.m-popbrands .recomBrand .enter {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 36px;
  box-sizing: border-box;
  line-height: 32px;
  color: #ff1e32;
  background: #fff;
  border-radius: 32px;
  border: 2px solid #ff1e32;
  font-size: 14px;
}
.m-popbrands .recomBrand .enter:hover {
  background-color: #fff4f5;
}
.m-popbrands .recomBrand .itm:hover img {
  top: -19px;
  transform: scale(0.66);
}
.m-popbrands .recomBrand .itm:hover .desc {
  opacity: 0;
}
.m-popbrands .recomBrand .itm:hover .actions {
  opacity: 1;
}

footer {
  background: #fff;
  border-top: 1px solid #eaeaea;
  margin-top: 80px;
}
footer .box {
  width: 1100px;
  margin: 0 auto;
}

#btmlist {
  padding: 49px 0;
  border-bottom: 1px solid #eaeaea;
  color: #333333;
}
#btmlist li {
  float: left;
  width: 233px;
  margin-left: 42px;
}
#btmlist .btmIcon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: 700;
  float: left;
  display: block;
  margin-right: 12px;
}
#btmlist .tit {
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 22px;
}
#btmlist .desc {
  font-size: 14px;
  display: inline-block;
  line-height: 22px;
}

#guideList {
  padding: 45px 0 90px;
}
#guideList li {
  float: left;
  width: 110px;
  padding: 0 0 0 21px;
  height: 128px;
}
#guideList .first {
  width: 218px;
  padding-right: 40px;
  padding-left: 0;
}
#guideList .first .logo_kaola_new {
  display: block;
  width: 220px;
  height: 43px;
  line-height: 45px;
  margin-bottom: 20px;
  background: url(../image/index/logo.png) no-repeat;
  background-size: 210px auto;
}
#guideList .first .focuson {
  height: 32px;
}
#guideList .first .focuson .itm {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
#guideList .first .focuson .itm:hover .m-notice {
  display: block;
}
#guideList .first .focuson .follow-us-icon {
  width: 32px;
  height: 32px;
  background-position: 50%;
  background-repeat: no-repeat;
}
#guideList .first .focuson .weibo-icon {
  background-image: url(../image/index/xinlang.png);
  background-size: 100%;
}
#guideList .first .focuson .nolink .weibo-icon {
  background-image: url(../image/index/weixin.png);
  background-size: 100%;
}
#guideList .first .m-notice {
  position: absolute;
  left: -49px;
  top: 24px;
  display: none;
  z-index: 10;
  background: #fff;
  text-align: center;
  color: #333;
  border: 1px solid #ededee;
  padding: 10px;
}
#guideList .f-wd100 {
  width: 80px;
}
#guideList .f-wd100 p {
  margin: -4px 0 10px;
  font-size: 18px;
  font-weight: 400;
}
#guideList .f-wd100 a {
  line-height: 29px;
  color: #333;
  display: block;
}
#guideList .item {
  width: 108px;
  padding: 0;
  text-align: center;
  float: left;
}
#guideList .item img {
  margin: 0 0 6px;
}
#guideList .last {
  margin-left: 10px;
}

#aboutNESt {
  position: relative;
  padding: 20px 0;
  background: #333;
  line-height: 26px;
  text-align: center;
  color: #c2c2c2;
}
#aboutNESt a {
  color: #c2c2c2;
}
#aboutNESt .m-license {
  margin-left: 20px;
}
#aboutNESt .m-license img {
  margin-top: -2px;
}
#aboutNESt .m-license {
  margin-left: 20px;
}
#aboutNESt .f-tac .KXYZ a:first-child img {
  margin-top: 5px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
#aboutNESt .f-tac .KXYZ a:last-child img {
  height: 30px;
  margin: 5px 0 0 10px;
}

/*# sourceMappingURL=index.css.map */
